body {
    background-color: #666A86;
    font-family: "Roboto Mono", monospace;
}


p {
    font-size: 90%;
    font-weight: 400;
}


h1 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 500%;
}


h3 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
}


.section {
    height: 40px;
    width: 100%;

    transition-duration: 500ms;

    cursor: pointer;

    text-align: center;
    overflow: hidden;

    background-color: #B2C9AB;
    border-radius: 15px;
    margin-bottom: 5px;
}


.section-title {
    position: relative;
    margin-top: 6px;
}
